.circle-1 {
overflow: hidden;
max-width: 400px;
max-height: 350px;
border-radius: 50%;
background-color: green;
}

.circle-1 img {opacity: 0.75;
max-height: 350px;
object-fit: cover;}

.rectangle-2 {
overflow: hidden;
max-width: 500px;
max-height: 350px;
background-color: green;
}

.rectangle-2 img {opacity: 0.75;
max-height: 350px;
object-fit: cover;}

.navbar-collapse {
overflow: hidden;
max-height: 500px;
background-color: pink ;
}

.rectangle-4 {
overflow: hidden;
max-width: 400px;
max-height: 200px;
background-color: pink ;
}

.rectangle-4 img {opacity: 0.75;
max-height: 200px;
object-fit: cover;}

.rectangle-5 {
overflow: hidden;
max-width: 
max-height: 500px;
background-color: pink ;
}

.rectangle-5 img {opacity: 0.75;
max-height: 500px;
object-fit: cover;}

body {
background: black;
}
.test-page {color: white}
 
