.navbar-collapse {
overflow: hidden;
max-height: 350px;
background-color: blue
}


.rectangle-13 {
overflow: hidden;
max-width: 400px;
max-height: 200px;
background-color: blue
}

.rectangle-13 img {opacity:0.75;}

.rectangle-14 {
overflow: hidden;
max-width: 500px;
max-height: 350px;
background-color: blue
}

.rectangle-14 img {opacity:0.75;}

body {
background: white;
}
 
