.element-sidebar {
overflow: hidden;
max-width: 500px;
background-color: purple;
}


.circle-16 {
overflow: hidden;

max-height: 650px;
border-radius: 50%;
background-color: purple;
}

.circle-16 img {opacity:0.75;}


overflow: hidden;
max-width: 400px;
max-height: 350px;
background-color: purple;
}

