.element-sidebar {
overflow: hidden;
max-width: 500px;
background-color: purple;
}

.circle-19 {
overflow: hidden;
max-width: 
max-height: 650px;
border-radius: 50%;
background-color: purple;
}

.circle-19 img {opacity:0.75;
max-height: 650px;
object-fit: cover;}

.rectangle-20 {
overflow: hidden;
max-width: 400px;
max-height: 200px;
background-color: purple;
}

.rectangle-20 img {opacity:0.75;
max-height: 200px;
object-fit: cover;}

body {
background: white;
}
.test-page {color: black}
 
