.element-sidebar {
overflow: hidden;
max-width: 500px;
background-color: purple;
}

.circle-22 {
overflow: hidden;

max-height: 650px;
border-radius: 50%;
background-color: purple;
}

.circle-22 img {opacity:0.75;
max-height: 650px;; }

body {
background: white;
}
 
