.element-sidebar {
overflow: hidden;
max-width: 500px;
background-color: purple;
}

.circle-22 {
overflow: hidden;
max-width: 250px;
max-height: 250px;
border-radius: 50%;
background-color: purple;
}

.circle-22 img {
  opacity:0.75;
  height: 250px;
  width: 250px;
}

body {
background: white;
}
