.element-sidebar {
overflow: hidden;
max-width: 500px;
background-color: purple;
}

.circle-22 {
overflow: hidden;
border-radius: 50%;
background-color: purple;
max-height: 300px;
max-width: 300px;
justify-content: center;    /* center items vertically, in this case */
align-items: center;        /* center items horizontally, in this case */
}

.circle-22 img {
  opacity:0.75;
  overflow: hidden;
}

body {
background: white;
}
