.element-sidebar {
overflow: hidden;
max-width: 400px;
border-radius: 3px;
border: solid purple 3px;
background-color: purple;
}

.circle-142 {
overflow: hidden;
max-width: 650px;
max-height: 650px;
border-radius: 50%;
border: solid purple 3px;
background-color: purple;
}

.circle-142 img {opacity: 0.75;
object-fit: cover;
}

.circle-143 {
overflow: hidden;
max-width: 500px;
max-height: 500px;
border-radius: 50%;
border: solid purple 3px;
background-color: purple;
}

.circle-143 img {opacity: 0.75;
object-fit: cover;
}

body {
background: white;}
h3, p {color: black;}
 
