.navbar-collapse {
overflow: hidden;
max-height: 350px;
border-radius: 3px;
border: solid purple 3px;
background-color: purple;
}

.circle-148 {
overflow: hidden;
max-width: 650px;
max-height: 650px;
border-radius: 50%;
border: solid purple 3px;
background-color: purple;
}

.circle-148 img {opacity: 0.75;
object-fit: cover;
}

.circle-149 {
overflow: hidden;
max-width: 500px;
max-height: 500px;
border-radius: 50%;
border: solid purple 3px;
background-color: purple;
}

.circle-149 img {opacity: 0.75;
object-fit: cover;
}

body {
background: white;}
h3, p, label {color: black;}
 
