<ul>
<% pages.each do |page| %>
<li> <%= link_to page.name, page_path(page) %> </li>
<div class="comments"><% page.likes.where(user_id: @user.id).each do |like|%>
  <%= like.comment %>
  <% end %>
</div>
<% end %>
</ul>
