<div class="row">
  <h1 class="text-center">Home</h1>
</div>

<div class="row">
  <div class="col-sm-6 user-page-show">
    <h2>Created pages</h2>
    <% @user.pages.each do |page| %>
    <h3><%= link_to page.name, page_path(page) %></h3>
    <% end %>
</div>


<% if @user == current_user %>
  <div class="col-sm-6 user-page-show">
    <h2>Liked pages</h2>
      <%= render partial: 'likes', locals: {liked_pages: @user.liked_pages.uniq, user: @user} %>
  </div>
<% end %>


</div>
