<div class="row">
  <h1 class="text-center">Home</h1>
</div>

<div class="row">

  <div class="col-sm-6 user-page-show">
    <h3>My pages</h3>
    <%= render partial: 'list_pages', locals: {pages: @user.pages} %>
  </div>

<% if @user == current_user %>
  <div class="col-sm-6 user-page-show">
    <h3>Liked pages</h3>
      <%= render partial: 'list_pages', locals: {pages: @user.liked_pages, user: @user} %>
  </div>
<% end %>


</div>
