<div class="error-messages background-color:white;">
  Invalid input in:
  <%page.errors.keys.each do |field| %>
  <%= field %>
  <% end %>
  <br>

  The following errors prevented page from being saved: <br>

  <%= error_list(page.errors.messages) %>
  <% if page.errors.messages[:elements] %>
  <% page.elements.map(&:errors).map(&:messages).each do |message_hash| %>
  <%= error_list(message_hash) %>
  <% end %>
  <% end %>

<br>
</div>
