<table id='create-table'> 
  <% 3.times do |i| %>
    <tr>
      <% 3.times do |j| %>
        <% cell_num = (3 * i + j + 1).to_s %> 
        <td class="create-cell">
          <div class="cell-contents" id='cell-<%=cell_num%>'><%=cell_num%></div></td>
      <% end %>
    </tr>
  <%end %> 
</table>
