<div class="row">
  <div class="col-sm-6">
<div id="grid">
<% 9.times do |i| %>
    <div class="grid-element">
      <h1><%= "#{i+1}" %> </h1>
  </div>
  <% end %>
</div>
</div>


<div class="col-sm-6">
  <div class="form-div">
    <div class="row">
      <h2>Create a page template:</h2>
    </div>
    <div class="row">
      <%= render 'form' %>
    </div>
</div>
</div>
</div>
