
<div class='splash-box center-splash'>
<%= form_errors(@page) %>
<%= render 'grid' %>

<input id='colorpicker-1' />
<input id='colorpicker-2' />
<input id='colorpicker-3' />
<input type=text' id='page-name' />
<select id="nav-select">
  <option value="0">Left side navigation bar></option>
  <option value="1">Top navigation bar</option>
</select>
<input type='button' id='submit-this' value='Create page' /> 
<%# <%= render 'form' %1> %>


</div>
