
<div class='splash-box center-splash page-create'>
  <%= form_errors(@page) %>
  <h2>Create a page </h2>

<div class='padder'>
<label>Name:</label>
<input type=text' id='page-name' />
</div>

<%= render 'grid' %>

<div class='padder'>
<label>Accent: </label>
<input id='colorpicker-1' />
<label>Body: </label>
<input id='colorpicker-2' />
<label>Text: </label>
<input id='colorpicker-3' /><br/> 
</div>
<input type='button' id='submit-this' value='Create page' /> 
<%# <%= render 'form' %1> %>


</div>
