
<div class='splash-box center-splash'>
<%= form_errors(@page) %>
<%= render 'grid' %>

<input id='colorpicker-1' />
<input id='colorpicker-2' />
<input id='colorpicker-3' />
<%# <%= render 'form' %1> %>
</div>
