
<% make_rows(@page).each do |row| %>
<div class="row">
  <% row.each do |div| %>
  <div class="<%=div%>">
    <% if is_element?(div) %>
    <div class="centering-container">
      <img src="<%= rando_image %> " alt="" />
    </div>
    <% else %>
      <h3><%= Faker::Lorem.sentence %> </h3>
      <p> <%= Faker::Lorem.paragraph(10) %> </p>
    <%end %>
  </div>
  <% end %>
</div>
<% end %>
