
<%# <% if !@page.not_authorized?(current_user) %1> %>
<%# <%= render 'element', page: @page %1> %>
<%# <% end %1> %>

    <div class="drawer">
      <a href="#" class="drawer-toggle">Close [ESC]</a>
    </div>
    <div class="container">
      <h1>Top Drawer</h1>
      <p><a href="#" class="drawer-toggle">Open</a></p>
    </div>

<nav><h1><%=@page.name %></h1> </nav>
<div id='page-contents'></div>


<div class="row">
  <div id="like_box"><h2> <%= render like_box %> </h2><br>
    This page brought to you by <%= link_to User.find(@page.user_id).email, user_path(User.find(@page.user_id)) %>
  </div></div>

</div>
