
<nav class="nav-header">
  <h3 color="<%=@page.text_color || 'black' %>">Working template: <%= @page.name.upcase%></h3>
</nav>

<div id='page-contents'></div>

<div class="row">
  <div id="like_box"><h2> <%= render like_box %> </h2><br>
    This page brought to you by <%= link_to User.find(@page.user_id).email, user_path(User.find(@page.user_id)) %>
  </div></div>

</div>
