nav {
overflow: hidden;
max-height: 350px;
 margin: 0 0 0 0;
 font-family: Arial;
 font-size: 100%;
 width: 100%;
overflow: hidden;min-height: 100px;
border-radius: 3px;
border: solid pink 3px;
background-color: pink;
}

body {
background: black;}
h3, p, label {color: white;
text-align: center;
}

p {font: 14px/1.8 Georgia, serif; }
h1, h2, h3 {font: 30px/2.5 Open Sans, sans-serif; }
.col-sm-4, .col-sm-8, .col-sm-12 {
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;}
.row:after {
clear:both;}
.row {
min-height: 400px;}
