html {
  background-color: #028090;
}


.splash-box {
  border: 2px dotted  black;
  background-color: white;
  font-color: black;
  padding: 20px;
  margin: auto;
  padding: 20px;
  z-index: 2;
  text-align: center;
}
.splash-box h1 {
  font-size: 70px;
  font-weight: 300;
  color: black;
  font-family: "Oswald";

}

.center-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#create-table table, td {
  background-color: #493B49;
  color: white;
}

#create-table {
  max-width: 700px;
  margin: 0 auto;
}

h2 {
  line-height: 1.25;
}

.padder {
  padding: 20px;
}

.cell-contents {
  background-color: #493B49;
  height: 125px;
  width: 125px;
  text-align: center;
  vertical-align: middle;
  line-height: 125px; 
}

.create-cell {
  height: 125px;
  width: 125px;
  text-align: center;
  font-size: 30px;
}

#invisible-form {
  display: none;
}

.page-create {
  width: 50%;
}

.home-row {
  padding-bottom: 20px;
}

label {
 color: #8CADA7;
 
}
