@font-face {
    font-family: "Bebas Neue";
      src: font_url "BebasNeue.otf" format("truetype");
    }

html {
  background-color: #028090;
}


.splash-box {
  border: 7px dotted white;
  background-color: rgba(17,11,17, 0.75);
  font-color: #8CADA7;
  padding: 20px;
  margin: auto;
  padding: 20px;
  z-index: 2;
  text-align: center;
}
.splash-box h2 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Bebas Neue";

}

.center-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#create-table table, td {
  background-color: #89909F;
  border: 3px dotted white;
  color: white;
}

#create-table {
  width: 50%;
  margin: 0 auto;
}

h2 {
  line-height: 1.25;
}

.padder {
  padding: 20px;
}

.cell-contents {
  background-color: #89909F;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px; 
}

.create-cell {
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 30px;
}

#invisible-form {
  display: none;
}

.page-create {
  width: 50%;
}

.home-row {
  padding-bottom: 20px;
  max-height: 50px;
}

label {
 color: #8CADA7;
 
}
