html {
  background-color: #F9B05B;
}


.splash-box {
  background-color: rgba(17,11,17, 0.75);
  font-color: #8CADA7;
  padding: 20px;
  margin: auto;
  padding: 20px;
  z-index: 2;
  text-align: center;
  border: 7px dotted white;
}
.splash-box h1 {
  font-size: 65px;
  color: rgba(255, 255, 255, 0.8);
}

.splash-box h2 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
}

.center-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#create-table table, td {
  background-color: #493B49;
  border: 3px dotted white;
  color: white;
}

#create-table {
  width: 50%;
  margin: 0 auto;
}

h2 {
  line-height: 1.25;
}

.padder {
  padding: 20px;
}

.cell-contents {
  background-color: #493B49;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px; 
}

.create-cell {
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 30px;
}

#invisible-form {
  display: none;
}

.page-create {
  width: 50%;
}

