.clear {
  clear: both;
}

#grid {
  max-width: 475px;
  max-height: 475px;
  float: left;
}

.grid-element {
  width: 150px;
  height: 150px;
  float: left;
  overflow: hidden;
  margin: 3px;
  background-color: grey;
  text-align: center;
}

.form-div {
  margin-left: 20px;
  float: left;
  text-align: left;
}

.navbar-collapse {
  /*background-color: red;*/
}

.navbar li {
  height: 150px;
}

#test{
  margin: 0 auto;
}

p { font: 14px/1.8 Georgia, serif; }

.centering-container {
  display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
}

.row {
  min-height: 300px;
}
