p { font: 14px/1.8 Georgia, serif; }


body {
  background-color: #263037;
}

h1, h2, h3 {
  text-align: center;
  color: white;
}

form {
  color: white;
}

form input {
  color: black;
}

.field {
  color: white;
}

.field input {
  color: black;
}

.error-messages, .alert, .notice {
  background-color: white;
}

.clear {
  clear: both;
}

#grid {
  max-width: 500px;
  max-height: 500px;
  float: right;
  margin-right: 30px;
}

.grid-element {
  width: 150px;
  height: 150px;
  float: left;
  overflow: hidden;
  margin: 3px;
  background-color: grey;
  text-align: center;
}

.form-div {
  float: left;
  text-align: left;
  padding-left: 30px;
}

.form-div h3 {
  color: white;
}

.navbar li {
  padding: 5px;
  height: 150px;
}

.nav li a {
  border-style: solid;
  border-width: 4px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  bottom: 0;
  margin: 10px;
}

.centering-container {
  display: flex;              /* establish flex container */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
}

.element-sidebar {
  z-index: 1000;
   position: fixed;
  height: 100%;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
}

.scrunch {
  float: right;
}

#like_box {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin: auto;
  padding: 20px;
}

#like_box input {
  background-color: white;
  width: 100%;
  margin: auto;
}

#like_box form {
  background-color: white;
  font-weight: bold;
  border-style: solid;
  border-width: 4px;
  border-color: grey;
  padding: 7px;
}

#like_box label {
  color: black;
}

.home-column {
  padding: 20px;
}

.splash-box {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: white;
}


.test-page {
  padding: 30px;
}

.comments {
  font-style: italic;
  font-size: 10px;
}

.test-page .row {
  min-height: 400px;
}

.comment-box {
font-family: 'Open Sans', sans-serif;
font-style: italic;
font-size: 13px;
width: 40%;
margin: auto;
padding: 20px;
background-color: white;
border-style: solid;
border-width: 4px;
border-color: grey;
}

.user-page-show {
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-color: grey;
  margin: 10px;
  max-width: 45%;
}

.user-page-show h2, h3 {
  color: black;
  font-style: italic;
}

.nav-header {
  border-style: solid;
  border-width: 4px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  margin-bottom: 20px;
}

.splash {
  min-height: 600px;
}

.index-box {
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-color: grey;
  max-width: 30%;
  margin: 0 auto;
}
