  <nav class="navbar navbar-default" >
  <div class="collapse navbar-collapse">
    <div class="centering-container down-touch">
  <% if current_user %>
  <%= render 'signed_in' %>
  <% else %>
  <% render 'signed_out' %>
  <% end %>
</div>
</div>
</nav>
</div>
<div class="col-sm-12">
