  <%# <nav class="navbar navbar-default" > %>
  <%# <div class="collapse navbar-collapse"> %>
  <%#   <div class="centering-container down-touch"> %>
  <%# <% if current_user %1> %>
  <%# <%= render 'signed_in' %1> %>
  <%# <% else %1> %>
  <%# <% render 'signed_out' %1> %>
  <%# <% end %1> %>
<%# </div> %>
<%# </div> %>
<%# </nav> %>
<%# </div> %>
<%# <div class="col-sm-12"> %>
