<div id="grid">

  <div class="grid-element" id="a1">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>


  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>


  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

  <div class="grid-element">
    <img src="http://static.caloriecount.about.com/images/medium/colby-cheese-157898.jpg" />
  </div>

</div>


<div class="form-div">
  <%= form_tag('/stuff') %>
  <%= text_field_tag :stuff %>
  <%= submit_tag %>
</div>

<div class="clear"></div>
