    <div id="splash">
      <div class="splash-box center-splash">
      <h1>WIRES</h1>
      <h2>(very simple) wireframes</h2>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
    </div>
    </div>
